numpy==1.23.4
pandas==1.4.2
joblib==1.2.0
dice_ml==0.7.1
json5==0.9.5
jsonpickle==2.0.0
jsonschema==3.2.0
Werkzeug==2.0
h5py==3.1.0
flask==2.0.1
flask-restful==0.3.9
lime==0.2.0.1
shap==0.41.0
alibi==0.8.0
dalex==1.4.1
tensorflow==2.10.0
torch==1.12.1
html2image==2.0.3
pillow==8.2.0
matplotlib==3.3.4
kaleido==0.1.0
grad-cam==1.3.9
protobuf==3.19.6
flask-cors==3.0.10
git+https://github.com/isee4xai/NLPClassifierExplainer
xgboost==1.6.1
discern-xai==0.0.27
statsmodels==0.13.5
numba==0.56.3
seaborn==0.12.1
lightgbm==3.3.3
NICEx==0.2.3
explainerdashboard==0.4.2.1
tslearn==0.5.2
git+https://github.com/isee4xai/LIMESegment
pertCF==0.1.18
scikit-learn==1.2.2

